.modal {
    --bs-modal-width: 800px !important;
}

input {
    width: 100%;
    background-color:rgb(8, 116, 239) !important;
    border-radius: 30px;
    color: whitesmoke;
    font-weight: bolder;
    
}