.noProducts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    margin: 200px 0px;
    margin-bottom: 200px;
    color: rgb(8, 116, 239);
    
}
.linkBrand{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: inherit;
    border: 0px;
    font-size: 20px;
    list-style: none;
    text-decoration: none;
    margin-top: 80px;
}
.link{
    
    color: red;
    text-decoration: none;
}
