* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
  }
  
  .navbar {
    background-color: #ffe600;
    padding: 10px 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .navbar-container {
    display: flex;
    justify-content: space-between;
    background-color: #ffe600 ;
    width: 100%;
    align-items: center;
  }
  
  .logo img {
    width: 150px;
  }
  
  .search-bar {
    flex-grow: 1;
    display: flex;
    margin: 0 20px;
  }
  
  .search-bar input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px 0 0 4px;
  }
  
  .search-bar button {
    padding: 8px 15px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
  }
  
  .search-bar button:hover {
    background-color: #555;
  }
  
  .user-icons {
    display: flex;
    gap: 15px;
  }
  
  .user-icon {
    color: #333;
    text-decoration: none;
    font-weight: bold;
  }
  
  .user-icon:hover {
    color: #000;
  }
  
  .navbar-links {
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: #fff;
  }
  
  .navbar-links a {
    color: #333;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
  }
  
  .navbar-links a:hover {
    color: #000;
  }
  