.card-img-top{
    max-height: 200px;
    max-width: 200px;
    margin: 0 auto;
}
.card{
    width: 300px;
    align-items: center;
}
.card-body{
   height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.card-text{
    max-height: 50px;
    overflow: hidden;

}